*{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.Introduction{
    position: absolute;
    background-color: darkblue;
    bottom: 1px;
    width: 30000px;
    height: 150px;
}
.aboutme{
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 30px;
    bottom: 100px;
    left: 250px;
}
.Student{
     position: absolute;
    background-color: transparent;
    color: white;
    font-size: 30px;
    bottom: 70px;
    left: 250px;
}

.Icon{
    position: absolute;
    border-radius: 100%;
    width: 250px;
    height: 190px;
    bottom: 10px;
    left: 20px;
}
